
.wrap{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
}

.app{
    background-color: #A8E6CF;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0,0,0, 0.08);
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;

}

.button-container{
    display: flex;
    align-items: center;
}

.button-container button{
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    font-size: 10px;
}
.signout{
    background-color: #FFAAA5;
}
.create{
    background-color: #FEFFDD;
}

.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0, 0.05) 1px solid;


}

